In [3]:
import pandas as pd
from pandas import DataFrame
import numpy as np

In [6]:
df1 = DataFrame({'key': ['A', 'B', 'C', 'D'],
                   'value': np.random.randn(4)})
df2 = pd.DataFrame({'key': ['B', 'D', 'D', 'E'],
                    'value': np.random.randn(4)})

In [7]:
df1

  key     value
0   A -0.871165
1   B  0.562137
2   C -2.207280
3   D  0.648355

In [8]:
df2

  key     value
0   B -2.787546
1   D -1.167401
2   D -0.700912
3   E -0.169504

In [9]:
# Inner join, merge does this by default
pd.merge(df1,df2,on='key')

  key   value_x   value_y
0   B  0.562137 -2.787546
1   D  0.648355 -1.167401
2   D  0.648355 -0.700912

In [15]:
# join one data frames column with another DataFrame's index
indexed_df2 = df2.set_index('key')
indexed_df2

        value
key
B   -2.787546
D   -1.167401
D   -0.700912
E   -0.169504

In [17]:
pd.merge(df1,indexed_df2,left_on='key',right_index=True)

  key   value_x   value_y
1   B  0.562137 -2.787546
3   D  0.648355 -1.167401
3   D  0.648355 -0.700912

In [19]:
# left outer join (shows all records from left data frame). NaN used to fill fields where there is no corresponding
# value match
pd.merge(df1,df2,on='key',how='left')

  key   value_x   value_y
0   A -0.871165       NaN
1   B  0.562137 -2.787546
2   C -2.207280       NaN
3   D  0.648355 -1.167401
4   D  0.648355 -0.700912

In [20]:
# Right Join (shows all records from the right data frame)
pd.merge(df1,df2,on='key',how='right')

  key   value_x   value_y
0   B  0.562137 -2.787546
1   D  0.648355 -1.167401
2   D  0.648355 -0.700912
3   E       NaN -0.169504

In [21]:
# Full Join (shows all values even if a match isnt found)
pd.merge(df1,df2,on='key',how='outer')

  key   value_x   value_y
0   A -0.871165       NaN
1   B  0.562137 -2.787546
2   C -2.207280       NaN
3   D  0.648355 -1.167401
4   D  0.648355 -0.700912
5   E       NaN -0.169504

In [22]:
# Union All can be performed with concat
pd.concat([df1,df2])

  key     value
0   A -0.871165
1   B  0.562137
2   C -2.207280
3   D  0.648355
0   B -2.787546
1   D -1.167401
2   D -0.700912
3   E -0.169504

In [23]:
# Union alone will remove duplicate rows
# can be performed with concat combined with drop_duplicates
pd.concat([df1,df2]).drop_duplicates()

  key     value
0   A -0.871165
1   B  0.562137
2   C -2.207280
3   D  0.648355
0   B -2.787546
1   D -1.167401
2   D -0.700912
3   E -0.169504