In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [2]:
# to open CSV file 
# first row considered to be headings by default
dframe = pd.read_csv('lec25.csv')
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [4]:
# to avoid using first row of CSV as headings
dframe = pd.read_csv('lec25.csv', header = None)
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [5]:
# read_table() is a more generic method, but you have to specifiy the delimiter
dframe = pd.read_table('lec25.csv', sep=',', header = None)
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [17]:
# nrows argument specifies the no. of rows to be read
pd.read_csv('lec25.csv', header = None, nrows=2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [7]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [18]:
# exporting a data frame
dframe.to_csv('lec25_export.csv')

In [11]:
# using other delimiters
import sys

In [12]:
# print output of a file
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [16]:
dframe.to_csv(sys.stdout, sep='_')

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit
3_5_2_5_7_dog

In [15]:
dframe.to_csv(sys.stdout, sep='?')

?0?1?2?3?4
0?q?r?s?t?apple
1?2?3?4?5?pear
2?a?s?d?f?rabbit
3?5?2?5?7?dog

In [30]:
dframe.to_csv(sys.stdout, columns=[0,1,2,3])

,0,1,2,3
0,q,r,s,t
1,2,3,4,5
2,a,s,d,f
3,5,2,5,7

In [29]:
dframe2 = pd.read_csv('test.csv')
dframe2

   Unnamed: 0  0  1  2  3       4
0           0  q  r  s  t   apple
1           1  2  3  4  5    pear
2           2  a  s  d  f  rabbit
3           3  5  2  5  7     dog

In [25]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog