In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [5]:
# stack and unstack method examples
# by passing index as pd.Index, the index can be named at the same time
dframe1 = DataFrame(np.arange(8).reshape(2,4),
                    index=pd.Index(['LA','SF'], name="city"),
                    columns=pd.Index(['a','b','c','d'], name="letter"))
dframe1

letter  a  b  c  d
city
LA      0  1  2  3
SF      4  5  6  7

In [7]:
# can use stack to pivot the columns into the rows
dframe_st = dframe1.stack()
dframe_st

city  letter
LA    a         0
      b         1
      c         2
      d         3
SF    a         4
      b         5
      c         6
      d         7
dtype: int64

In [8]:
# turn stacked series back into a data frame
dframe_st.unstack()

letter  a  b  c  d
city
LA      0  1  2  3
SF      4  5  6  7

In [9]:
# can specify what you want the columns to be when you unstack
dframe_st.unstack('letter')

letter  a  b  c  d
city
LA      0  1  2  3
SF      4  5  6  7

In [10]:
dframe_st.unstack('city')

city    LA  SF
letter
a        0   4
b        1   5
c        2   6
d        3   7

In [11]:
ser1 = Series([0,1,2], index=['q','x','y'])
ser1

q    0
x    1
y    2
dtype: int64

In [13]:
ser2 = Series([4,5,6], index=['x','y','z'])
ser2

x    4
y    5
z    6
dtype: int64

In [26]:
dframe = pd.concat([ser1,ser2], keys=['Alpha', 'Beta'])
# not yet a data frame
dframe

Alpha  q    0
       x    1
       y    2
Beta   x    4
       y    5
       z    6
dtype: int64

In [27]:
# turns two series into a data frame
dframe.unstack()

         q    x    y    z
Alpha  0.0  1.0  2.0  NaN
Beta   NaN  4.0  5.0  6.0

In [28]:
# NaN values not kept when the data frame is converted back into a series
dframe.unstack().stack()

Alpha  q    0.0
       x    1.0
       y    2.0
Beta   x    4.0
       y    5.0
       z    6.0
dtype: float64

In [30]:
# to keep the NaN values when stacking a data frame:
dframe = dframe.unstack()
dframe

         q    x    y    z
Alpha  0.0  1.0  2.0  NaN
Beta   NaN  4.0  5.0  6.0

In [31]:
dframe.stack()

Alpha  q    0.0
       x    1.0
       y    2.0
Beta   x    4.0
       y    5.0
       z    6.0
dtype: float64

In [32]:
dframe.stack(dropna=False)

Alpha  q    0.0
       x    1.0
       y    2.0
       z    NaN
Beta   q    NaN
       x    4.0
       y    5.0
       z    6.0
dtype: float64

In [38]:
dframe.stack()

Alpha  q    0.0
       x    1.0
       y    2.0
Beta   x    4.0
       y    5.0
       z    6.0
dtype: float64