In [1]:
import numpy as np 
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# "2 instances of A and 3 instance of B
dframe = DataFrame({'key1':['A']*2 + ['B']*3,
                    'key2':[2,2,2,3,3]})
dframe

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [7]:
# find duplicates
dframe.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [8]:
# drop duplicates
dframe.drop_duplicates()

  key1  key2
0    A     2
2    B     2
3    B     3

In [9]:
# specify which duplicates to drop by column name to drop from
dframe.drop_duplicates(['key1'])

  key1  key2
0    A     2
2    B     2

In [10]:
dframe

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [12]:
# by default first instance of a value is taken and later duplicates are dropped, 
# but the last instance can be selected as well:
dframe.drop_duplicates(['key1'], keep='last')

  key1  key2
1    A     2
4    B     3