In [7]:
# replacing value in Series
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
ser1 = Series([1,2,3,4,1,2,3,4])
ser1

0    1
1    2
2    3
3    4
4    1
5    2
6    3
7    4
dtype: int64

In [4]:
# args: alue to replace, new value
ser1.replace(1, np.nan)

0    NaN
1    2.0
2    3.0
3    4.0
4    NaN
5    2.0
6    3.0
7    4.0
dtype: float64

In [5]:
# multiple replacements at the same time. Every 1 replaced by 100 and every 4 replaced by 400
ser1.replace([1,4], [100,400])

0    100
1      2
2      3
3    400
4    100
5      2
6      3
7    400
dtype: int64

In [6]:
# can use a dictionary with key(value to be replaced)/ value(new value to be added in place) pairs
ser1.replace({4:np.nan})

0    1.0
1    2.0
2    3.0
3    NaN
4    1.0
5    2.0
6    3.0
7    NaN
dtype: float64