In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

from numpy.random import randn

In [5]:
ser1 = Series([1,2,3,4], index=['A', 'B', 'C', 'D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [6]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [8]:
# using fill_value arg can be used to set a default value for indexes that do not exist in the current data frame
ser2.reindex(['A','B','C','D','E','F', 'G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [34]:
# can use methods to populate a series
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [29]:
# make a list of 15 numbers
ranger = range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [35]:
# ffill grabs the previous value and forward fills it for the next indices until it hits an index 
#which already has a value
ser3 = ser3.reindex(ranger, method='ffill')
ser3

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [48]:
# can apply dimension of matrix to an array
dframe = DataFrame(randn(25).reshape(5,5), index=['A', 'B', 'D', 'E', 'F'], 
                   columns=['col1', 'col2', 'col3','col4', 'col5'])
dframe

       col1      col2      col3      col4      col5
A -0.486096 -0.684964 -0.251994 -0.987758 -1.057443
B  0.120345 -1.081932 -0.081341  0.927192 -0.271566
D  1.294502 -0.236507  0.999059 -1.053582  1.418902
E  1.117026  0.655579 -0.145264 -0.194694 -0.086901
F  1.776034  0.224726 -2.014891  1.164961  1.288909

In [49]:
# reindex by adding c row
dframe2 = dframe.reindex(['A', 'B','C', 'D', 'E', 'F'])
dframe2

       col1      col2      col3      col4      col5
A -0.486096 -0.684964 -0.251994 -0.987758 -1.057443
B  0.120345 -1.081932 -0.081341  0.927192 -0.271566
C       NaN       NaN       NaN       NaN       NaN
D  1.294502 -0.236507  0.999059 -1.053582  1.418902
E  1.117026  0.655579 -0.145264 -0.194694 -0.086901
F  1.776034  0.224726 -2.014891  1.164961  1.288909

In [47]:
# reindex columns
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
dframe2 = dframe2.reindex(columns=new_columns)
dframe2

       col1      col2      col3      col4      col5  col6
A -1.653569 -0.273268 -0.834546 -0.003164  0.774412   NaN
B -0.887303 -0.676906 -0.850112 -1.938252  0.713222   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.354051  0.536107 -1.194559 -0.667111  1.321185   NaN
E -0.035564 -1.136184  0.400886 -1.840975  0.098799   NaN
F -0.235468  2.290703  1.088644  0.765502  0.378582   NaN

In [50]:
# orginal dframe
dframe

       col1      col2      col3      col4      col5
A -0.486096 -0.684964 -0.251994 -0.987758 -1.057443
B  0.120345 -1.081932 -0.081341  0.927192 -0.271566
D  1.294502 -0.236507  0.999059 -1.053582  1.418902
E  1.117026  0.655579 -0.145264 -0.194694 -0.086901
F  1.776034  0.224726 -2.014891  1.164961  1.288909

In [51]:
# using ix to reindex 1st arg is rows, second arg is columns
dframe.ix[['A','B','C' 'D', 'E', 'F'], new_columns]

        col1      col2      col3      col4      col5  col6
A  -0.486096 -0.684964 -0.251994 -0.987758 -1.057443   NaN
B   0.120345 -1.081932 -0.081341  0.927192 -0.271566   NaN
CD       NaN       NaN       NaN       NaN       NaN   NaN
E   1.117026  0.655579 -0.145264 -0.194694 -0.086901   NaN
F   1.776034  0.224726 -2.014891  1.164961  1.288909   NaN