In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
ser1 = Series(np.arange(3), index=['a','b','c'])
ser1

a    0
b    1
c    2
dtype: int64

In [4]:
# drop index from series
# does not affect the original series
ser1.drop('b')

a    0
c    2
dtype: int64

In [6]:
# dropping entries in a data frame
dframe1 = DataFrame(np.arange(9).reshape(3,3),index=['LA', 'NYC', 'SF'], columns=['pop', 'size', 'year'])
dframe1

     pop  size  year
LA     0     1     2
NYC    3     4     5
SF     6     7     8

In [8]:
# dropping row with given index
# does not change the orinal dframe (must reassign variable to make changes permanent)
dframe1.drop('LA')

     pop  size  year
NYC    3     4     5
SF     6     7     8

In [9]:
# dropping a column from a data frame, columns are axis=1 (by default axis=0 for rows)
dframe1.drop('year', axis=1)

     pop  size
LA     0     1
NYC    3     4
SF     6     7